<h1>View All Current Shifts</h1>

<table class="table">
  <thead class="panel panel-danger">
    <tr class="panel-heading">
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
      <th>Total Hours</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.shift_date %></td>
        <td><%= shift.start.strftime('%H:%M') %></td>
        <td><%= shift.end.strftime('%H:%M') %></td>
        <td><%= shift.total %></td>
        <td><%= User.find(shift.user_id).full_name %></td>
        <td><%= link_to 'Show Shift', shift, :class=>"btn btn-default" %></td>
        <td><%= link_to 'Edit Shift', edit_shift_path(shift), :class=>"btn btn-default" %></td>
        <td><%= button_to 'Remove', shift, method: :delete, :onclick => "return confirm('Are you sure you want to delete this Shift?')", :class=>"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift', new_shift_path, :class=>"btn btn-default" %>
