<div class="panel panel-default">
<div class="panel-heading">
<h1 class="panel-title">Editing User</h1>
</div>
<div class="panel-body">
	<%= form_for(@user) do |f| %>
  	<% if @user.errors.any? %>
    	<div id="error_explanation">
      	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      	<ul>
      	<% @user.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      	<% end %>
      	</ul>
    	</div>
  	<% end %>
	<table class="table">
		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					Email Address: 
				</strong>
			</td>
			<td>	
				<%= f.text_field :email %>
			</td>
		</tr>
		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					First Name:
				</strong>
			</td>
			<td>
				<%= f.text_field :first_name %>
			</td>
		</tr>
		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					Middle Name:
				</strong>
			</td>
			<td>
				<%= f.text_field :middle_name %>
			</td>
		</tr>
		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					Last Name:
				</strong>
			</td>
			<td>
				<%= f.text_field :last_name %>
			</td>
		</tr>
		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					Home Address:
				</strong>
			</td>
			<td>
				<%= f.text_field :home_address %>
			</td>
		</tr>
		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					Home Phone:
				</strong>
			</td>
			<td>
				<%= f.text_field :home_phone %>
			</td>
		</tr>
		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					Role:
				</strong>
			</td>
			<td>
				<%= f.select(:role_id, options_for_select(@roles.map { |f| [f.name, f.id] }, selected: 0 )) %>
			</td>
		</tr>

		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					Password:
				</strong>
			</td>
			<td>
				<%= f.text_field :password %>
			</td>
		</tr>
		<tr class="panel panel-danger field">
			<td class="panel-heading">
				<strong>
					Password Confirmation:
				</strong>
			</td>
			<td>
				<%= f.text_field :password_confirmation %>
			</td>			
	</table>
  <div class="actions">
    <%= submit_tag "Update User", :class=>"btn btn-default" %>
<%= link_to 'Show User', @user, :class=>"btn btn-default" %>
<%= link_to 'Previous Page', users_path, :class=>"btn btn-default" %>
  </div>
<% end %>
