<h1>Listing Employees</h1>

<table class="table">
  <thead class="panel panel-danger">
    <tr class="panel-heading">
			<th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
				<td><%= user.first_name %> <%= user.middle_name %> <%= user.last_name %></td>
        <td><%= user.email %> </td>
        <td><%= link_to 'User Profile', user, :class=>"btn btn-default" %> </td>
        <td><%= link_to 'Edit User', edit_user_path(user), :class=>"btn btn-default" %></td>
        <td><%= button_to 'Delete', user, method: :delete, :onclick => "return confirm('Are you sure you want to delete this Employee?')", :class=>"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class=>"btn btn-default" %>
