<div class="row">
	<div class="col-sm-6">
		<h1>Welcome - <%= current_user.first_name %> <%= current_user.last_name%></h1>
	</div>
	<div class="col-sm-6">
		<% if current_user.role == nil %> 
		<h1>Role: N/A</h1>
		<% else %>
		<h1>Role:<%= Role.find(current_user.role).name %></h1>
		<% end %>
	</div>
</div>
<hr> 

<div class="row">
	<div class="col-sm-6 well">
		<h3>Your Shifts - <%= @shifts.length %></h3>
		<hr>
		<% if @shifts.length <= 0 %> 
			<h5 class="alert alert-danger">No Shifts Found</h5> 
		<% else %> 
				<% @shifts.each do |shift| %>
						<% if shift.current_status == "General" %>
						<div class= "text-success">
						<%= link_to "#{shift.shift_date.strftime('%F')}			#{shift.start.strftime('%H:%M')}-#{shift.end.strftime('%H:%M')}", "/shifts/#{shift.id}" %>
						<br/>Current Status: <%= shift.current_status %> 
						<% elsif shift.current_status == "Open" %>
						<div class= "text-primary">
						<%= link_to "#{shift.shift_date.strftime('%F')}			#{shift.start.strftime('%H:%M')}-#{shift.end.strftime('%H:%M')}", "/shifts/#{shift.id}" %>
						<br/>Current Status: <%= shift.current_status %> 
						<% elsif shift.current_status == "Pending" %>
						<div class= "text-warning">
						<%= link_to "#{shift.shift_date.strftime('%F')}			#{shift.start.strftime('%H:%M')}-#{shift.end.strftime('%H:%M')}", "/shifts/#{shift.id}" %>
						<br/>Current Status: <%= shift.current_status %> 
						<% elsif shift.current_status == "Closed" %>
						<div class= "text-danger">
						<%= link_to "#{shift.shift_date.strftime('%F')}			#{shift.start.strftime('%H:%M')}-#{shift.end.strftime('%H:%M')}", "/shifts/#{shift.id}" %>
						<br/>Current Status: <%= shift.current_status %> 
						<% elsif shift.current_status == "Finalized" %>
						<div>
						<%= link_to "#{shift.shift_date.strftime('%F')}			#{shift.start.strftime('%H:%M')}-#{shift.end.strftime('%H:%M')}", "/shifts/#{shift.id}" %>
						<br/>Current Status: <%= shift.current_status %> 
						<% end %>
						</div>
						<br />
				<% end %> 
		<% end %> 

	</div>
	<div class="col-sm-6 well">
		<h3>Home Store</h3>
		<hr>
		<% if current_user.home_store_id == nil || 0 %> 
			<h5 class="alert alert-danger">No Home Store Set</h5> 
		<% else %> 
			<h5><%= @data["Location"]["Name"] %></h5>
			<u>Address</u>
			<br>
			<%= @data["Location"]["Address"]["FormattedAddress"] %>
			<br>
			<u>Phone</u>
			<br>
			<% if @data["Location"]["TelephoneNumber"].kind_of?(Array)%>
				<%= @data["Location"]["TelephoneNumber"] ? @data["Location"]["TelephoneNumber"].first["PhoneNumber"] : "N/A" %>
			<% else %> 
				<%= @data["Location"]["TelephoneNumber"] ? @data["Location"]["TelephoneNumber"]["PhoneNumber"] : "N/A" %>
			<% end %>
		<% end %>
		<p>
		 	<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Choose HomeStore</button>
			  <ul class="dropdown-menu scrollable-menu" role="menu">
					<% @state.each do |s| %> 
						<li><%= link_to s,"/users/#{current_user.id}/home/#{s}" %> </li>
					<% end %> 
				</ul>
		</div>
		</p>
</div>
</div>

