<!DOCTYPE html>
<html>
<head>
  <title>Bullseye Scheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<body role="document">

  <!-- Fixed navbar -->
		<% if current_user %>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<%= link_to( "Bullseye Scheduler", root_url, :class => "navbar-brand" ) %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
						<% if current_user %>
							<% if current_user.role.id == 1 %> 
							<li><%= link_to "Log Out", logout_path %></li>
							<li><%= link_to "Edit Profile", "/users/#{current_user.id}/edit" %></li>
							<li><%= link_to "Find Open Shifts", static_pages_openShifts_path %></li>
							<li><%= link_to "Track My Hours", tracking_hours_path %></li>
							<% else %>
							<li><%= link_to "Log Out", logout_path %></li>
							<li><%= link_to "View Employees", users_path %></li>
							<li><%= link_to "Assign a Shift", new_shift_path %></li>
							<li><%= link_to "View Current Shifts", shifts_path %></li>
							<% end %>
						<% else %>
						<li><%# link_to "Log In", login_path %></li>
						<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
		<% end %>
		<div id="buffer">
		</div>
		<center>
		<div class="container-fluid">
		<% flash.each do |name, msg| %>
  			<%= content_tag :div, msg, :class => "alert alert-info" %>
		<% end %>
		</center>
		<div class="container theme-showcase" role="main">
			<%= yield %>
		</div>
						<% if current_user %>
		      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; MinneHack 2015</p>
        Haley Muotka<br>
        John Stupka<br>
        Gabe Jenson
      </footer>
			<% end %>
</body>
</html>
